/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import "foundation_and_overrides";

@import "font-awesome-sprockets";

@import "font-awesome";

 /********************
General
********************/

.wrap {
  width: 90%;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}

.wrap--thin {
    width: 70%;
}

.wrapper {
  padding: 2em 0;
}

.line-thing {
  position: relative;
  // need this to make the before element's absolute position work relative to this piece
  &:before {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -50px;
    background: #39A6DC;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
  }
}

/********************
Navigation Mobile
********************/

/********************
Navigation Desktop
********************/

.nav-desktop {
  background-color: #222;
  height: 4em;
  display: flex;
  align-items: center;
}

.site-logo {
  color: white;
}

.nav-desktop .menu-desktop {
  background-color: transparent;
}

.menu > li > a {
  color: white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/********************
Hero
********************/

.hero {
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: image-url("bw3.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  h1, p {
    color: rgba(255, 255, 255, 0.8);
    max-width: 80%;
  }
}

/********************
Main
********************/

.main {
  padding: 4em 0;
  h1 {
    text-align: center;
  }
}

.middle {
  background-color: lightblue;
  padding: 4em 0;
  h1 {
    text-align: center;
  }
}

.photos {
  padding: 4em 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/********************
Footer
********************/

footer {
  background-color: #222;
  padding: 4em 0em;
  color: white;
  a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    span {
      padding: 5px;
    }
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    &.inline {
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
      display: inline;
      padding: 5px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  h4 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4em;
  }
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
  }
  hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: .5em;
  }
}

/********************
Media Query
********************/
@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
}

@media (max-width: 875px) {
  .hero {
    h1, p {
      width: 100%;
    }
  }
}